<!--  Mobilenavbar -->
<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="mobilenavbar"
    aria-labelledby="offcanvasWithBothOptionsLabel">
    <nav class="sidebar-nav scroll-sidebar">
        <div class="offcanvas-header justify-content-between">
            <img src="@@webRoot/assets/images/logos/dark-logo.svg" alt="" class="img-fluid" />
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body h-n80" data-simplebar>
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow px-1" href="javascript:void(0)" aria-expanded="false">
                        <span class="d-flex">
                            <iconify-icon icon="solar:shield-plus-outline" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Apps</span>
                    </a>
                    <ul aria-expanded="false" class="collapse first-level my-3">
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-chat.html" class="d-flex align-items-center position-relative ">
                                <div
                                    class="bg-primary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:chat-line-linear" class="text-primary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block ">
                                    <h6 class="mb-0 ">Chat Application</h6>
                                    <span class="fs-3 d-block text-muted">New messages arrived</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-invoice.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-secondary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bill-list-linear" class="text-secondary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Invoice App</h6>
                                    <span class="fs-3 d-block text-muted">Get latest invoice</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-contact2.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-success-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bedside-table-2-linear" class="text-success fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Contact Application</h6>
                                    <span class="fs-3 d-block text-muted">2 Unsaved Contacts</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-email.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-warning-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:letter-unread-linear" class="text-warning fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Email App</h6>
                                    <span class="fs-3 d-block text-muted">Get new emails</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/page-user-profile.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-danger-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:cart-large-2-linear" class="text-danger fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">User Profile</h6>
                                    <span class="fs-3 d-block text-muted">learn more information</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-calendar.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-primary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:calendar-linear" class="text-primary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Calendar App</h6>
                                    <span class="fs-3 d-block text-muted">Get dates</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-contact.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-secondary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bedside-table-linear" class="text-secondary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Contact List Table</h6>
                                    <span class="fs-3 d-block text-muted">Add new contact</span>
                                </div>
                            </a>
                        </li>
                        <li class="sidebar-item py-2">
                            <a href="@@webRoot/main/app-notes.html" class="d-flex align-items-center position-relative">
                                <div
                                    class="bg-success-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:palette-linear" class="text-success fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Notes Application</h6>
                                    <span class="fs-3 d-block text-muted">To-do and Daily tasks</span>
                                </div>
                            </a>
                        </li>
                        <ul class="px-8 mt-7 mb-4">
                            <li class="sidebar-item mb-3">
                                <h5 class="fs-5 fw-semibold">Quick Links</h5>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3" href="@@webRoot/main/page-pricing.html">Pricing
                                    Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3"
                                    href="@@webRoot/main/authentication-login.html">Authentication Design</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3"
                                    href="@@webRoot/main/authentication-register.html">Register Now</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3" href="@@webRoot/main/authentication-error.html">404
                                    Error Page</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3" href="@@webRoot/main/app-notes.html">Notes App</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3" href="@@webRoot/main/page-user-profile.html">User
                                    Application</a>
                            </li>
                            <li class="sidebar-item py-2">
                                <a class="fs-3"
                                    href="@@webRoot/main/page-account-settings.html">Account Settings</a>
                            </li>
                        </ul>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link px-1" href="@@webRoot/main/app-chat.html" aria-expanded="false">
                        <span class="d-flex">
                            <iconify-icon icon="solar:chat-unread-outline" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Chat</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link px-1" href="@@webRoot/main/app-calendar.html" aria-expanded="false">
                        <span class="d-flex">
                            <iconify-icon icon="solar:calendar-minimalistic-outline" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Calendar</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link px-1" href="@@webRoot/main/app-email.html" aria-expanded="false">
                        <span class="d-flex">
                            <iconify-icon icon="solar:inbox-unread-outline" class="fs-6"></iconify-icon>
                        </span>
                        <span class="hide-menu">Email</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>