html[dir="rtl"] {
  @import "rtl-spacing";
  @import "rtl-components";

  .customizer-btn {
    right: unset;
    left: 20px;
  }

  body {
    text-align: right;
    direction: rtl;
  }

  @include media-breakpoint-up(xl){
    &[data-layout="vertical"] {
      #main-wrapper {
        .page-wrapper {
          margin-right: $sidebar-width-full;
          margin-left: 0;
        }
      }
  
      [data-sidebartype="mini-sidebar"] {
        #main-wrapper {
          .page-wrapper {
            margin-right: 60px;
          }
        }
      }
    }
  }


  //   sidebar
  .left-sidebar {
    ul {
      .sidebar-item {
        .sidebar-link {
          border-left: 0;
          border-right: 3px solid transparent;

          .side-badge.badge{
            right: unset;
            left: 34px;
            top: 16px;
          }
        }

      // Selected nav link style here
      // ################################################
      &.selected>.sidebar-link.active,
      &.selected>.sidebar-link,
      >.sidebar-link.active {
        border-right: 3px solid var(--bs-info);
      }

        .first-level {
          .sidebar-item {

            &>.sidebar-link {
              padding: 12px 54px 12px 22px;
            }
            .sidebar-link.active {
              border-right: 3px solid transparent;
            }
          }
        }

        .two-level {
          .sidebar-item {
            .sidebar-link {
              padding: 12px 70px 12px 22px;
            }
          }
        }

        .three-level {
          .sidebar-item {
            .sidebar-link {
              padding: 12px 85px 12px 22px;
            }
          }
        }
      }
    }
  }

  .sidebar-nav .has-arrow {
    &::after {
      left: 22px;
      right: unset;
      margin-left: 0;
      margin-right: 10px;
    }
  }

  .dropdown-menu {
    text-align: right;
  }

  .unlimited-img {
    transform: rotate(182deg);
  }

  .uncover-exciting-enhancements::after{
    background-position: center left -180px;
  }

  .right-part {
    margin-right: 260px;
    margin-left: 0;
  }

  // 
  // Above Large screen
  // 
  @include media-breakpoint-up(xl) {
    [data-sidebartype="mini-sidebar"] {
      .left-sidebar {
        
        &:hover{

          .nav-small-cap {
            text-align: right;
            justify-content: right;
          }

          .sidebar-nav {
            ul {
              .sidebar-item {
                .sidebar-link {
                  justify-content: right;
                }

                .first-level {
                  .sidebar-item {
                    .sidebar-link {
                      padding: 12px 54px 12px 22px;
                    }
                  }
                }

                .two-level {
                  .sidebar-item {
                    .sidebar-link {
                      padding: 12px 70px 12px 22px;
                    }
                  }
                }

                .three-level {
                  .sidebar-item {
                    .sidebar-link {
                      padding: 12px 85px 12px 22px;
                    }
                  }
                }
              }
            }

            .sidebar-list {
              .sidebar-list-item {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }

  .minicolors-theme-bootstrap.minicolors-position-left>.minicolors-swatch {
    right: 5px;
    left: unset;
  }

  .minicolors-theme-bootstrap.minicolors-position-left .minicolors-input {
    padding-right: 44px;
    padding-left: 12px;
  }

  @include media-breakpoint-down(xl){
    .left-sidebar {
      right: -$left-part-width;
    }

    #main-wrapper {
      &.show-sidebar {
        .left-sidebar {
          right: 0;
        }
      }
    }
  }

  @include media-breakpoint-up(md){
    .reverse-mode .left-part {
      right: inherit;
    }
  }

  @include media-breakpoint-down(md){
    .right-part {
      margin-right: 0;
    }
  }

}