#main-wrapper {
  min-height: 100vh;
  background: #f2f7f8;
}

.page-wrapper {

  .body-wrapper>.container-fluid {
    transition: 0.2s ease-in;
    padding: 0 24px;
  }
}

.body-wrapper {
  padding-top: calc(#{$headerHeight} + 30px);
}

a {
  text-decoration: none;
}

a:hover {
  h6,
  .h6,
  h5,
  .h5,
  h4,
  .h4,
  h3,
  .h3,
  h2,
  .h2,
  h1,
  .h1 {
    color: var(--bs-primary);
  }
}

ul {
  list-style: none;
  padding: 0;
}


// 
// Above Large screen
// 
@include media-breakpoint-up(xl) {
  [data-layout="vertical"] {
    .topbar {
      width: calc(100% - #{$sidebar-width-full});
    }

    body {
      .page-wrapper {
        margin-left: $sidebar-width-full;
      }

      &[data-sidebartype="mini-sidebar"] {
        .topbar {
          width: calc(100% - #{$sidebar-width-mini});
        }

        .page-wrapper {
          margin-left: $sidebar-width-mini;
        }

        .nav-small-cap {
          text-align: center;
          justify-content: center;

          .nav-small-cap-icon {
            display: inline-block;
          }
        }

        .logo-img {
          width: 40px;
          overflow: hidden;
        }

        // Sidebar
        .sidebar-nav {
          .has-arrow::after {
            display: none;
          }

          .sidebar-list {
            .sidebar-list-item {
              text-align: center;
            }
          }
        }

        .left-sidebar {
          width: $sidebar-width-mini;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);

          .scroll-sidebar {
            height: calc(100vh - 50px);
          }

          .brand-logo {
            padding: 0 12px;
          }

          .user-profile .profile-img {
            width: 35px;

            &::before {
              width: 35px;
              height: 35px;
            }
          }

          .hide-menu,
          .sidebar-ad {
            display: none;
          }

          .sidebar-nav {
            ul {
              .sidebar-item {
                .sidebar-link {
                  justify-content: center;
                  .sidebar-icon {
                    display: block;
                  }
                }

                .first-level {
                  .sidebar-item {
                    .sidebar-link {
                      padding: 12px 16px 12px 16px;
                    }
                  }
                }
              }
            }
          }

          &:hover {
            width: $sidebar-width-full;

            .brand-logo {
              padding: 0 24px;
            }

            .user-profile .profile-img {
              width: 50px;

              &::before {
                width: 50px;
                height: 50px;
              }
            }

            .sidebar-footer {
              display: flex !important;
            }

            .logo-img {
              width: 100%;
            }

            .nav-small-cap {
              text-align: left;
              justify-content: left;

              .nav-small-cap-icon {
                display: none;
              }
            }

            z-index: 50;

            .hide-menu,
            .sidebar-nav .has-arrow::after,
            .sidebar-ad {
              display: inline-block;
            }

            .sidebar-nav {
              ul {
                .sidebar-item {
                  .sidebar-link {
                    justify-content: left;

                    .sidebar-icon {
                      display: none;
                    }
                  }

                  .first-level {
                    .sidebar-item {
                      .sidebar-link {
                        padding: 12px 22px 12px 54px;
                      }
                    }
                  }

                  .two-level {
                    .sidebar-item {
                      .sidebar-link {
                        padding: 12px 22px 12px 70px;
                      }
                    }
                  }

                  .three-level {
                    .sidebar-item {
                      .sidebar-link {
                        padding: 12px 22px 12px 85px;
                      }
                    }
                  }
                }
              }

              .sidebar-list {
                .sidebar-list-item {
                  text-align: left;
                }
              }
            }

            .logo-img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}


html[data-boxed-layout="boxed"] {
  .container-fluid {
    max-width: $boxedWidth;
    margin: 0 auto;
  }
}


.with-horizontal {
  display: none;
}

.with-vertical {
  display: block;
}