// ----------------------------------------------
// Dashboard2 Style
// ----------------------------------------------

.bg-box{
    &::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 65px;
        height: 49px;
        background-image: url(../images/shape/shape-1.png);
        background-repeat: no-repeat;
    }
    &::after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 75px;
        height: 55px;
        background-image: url(../images/shape/shape-2.png);
        background-repeat: no-repeat;
    }
}