<div class="row">
    <div class="col-8">
        <div class="ps-3 pt-3">
            <div class="border-bottom">
                <div class="row">
                    <div class="col-6">
                        <div class="position-relative">
                            <a href="@@webRoot/dark/app-chat.html" class="d-flex align-items-center pb-9 position-relative ">
                                <div
                                    class="bg-primary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:chat-line-linear" class="text-primary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block ">
                                    <h6 class="mb-0 ">Chat Application</h6>
                                    <span class="fs-3 d-block text-muted">New messages arrived</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-invoice.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-secondary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bill-list-linear" class="text-secondary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Invoice App</h6>
                                    <span class="fs-3 d-block text-muted">Get latest invoice</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-contact2.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-success-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bedside-table-2-linear" class="text-success fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Contact Application</h6>
                                    <span class="fs-3 d-block text-muted">2 Unsaved Contacts</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-email.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-warning-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:letter-unread-linear" class="text-warning fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Email App</h6>
                                    <span class="fs-3 d-block text-muted">Get new emails</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="position-relative">
                            <a href="@@webRoot/dark/page-user-profile.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-danger-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:cart-large-2-linear" class="text-danger fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">User Profile</h6>
                                    <span class="fs-3 d-block text-muted">learn more information</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-calendar.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-primary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:calendar-linear" class="text-primary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Calendar App</h6>
                                    <span class="fs-3 d-block text-muted">Get dates</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-contact.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-secondary-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:bedside-table-linear" class="text-secondary fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Contact List Table</h6>
                                    <span class="fs-3 d-block text-muted">Add new contact</span>
                                </div>
                            </a>
                            <a href="@@webRoot/dark/app-notes.html" class="d-flex align-items-center pb-9 position-relative">
                                <div
                                    class="bg-success-subtle rounded-circle round-40 me-3 p-6 d-flex align-items-center justify-content-center">
                                    <iconify-icon icon="solar:palette-linear" class="text-success fs-5"></iconify-icon>
                                </div>
                                <div class="d-inline-block">
                                    <h6 class="mb-0">Notes Application</h6>
                                    <span class="fs-3 d-block text-muted">To-do and Daily tasks</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-items-center py-3">
                <div class="col-8">
                    <a class="text-dark d-flex align-items-center lh-1 fs-3" href="#"><i
                            class="ti ti-help fs-4 me-2"></i>Frequently Asked Questions</a>
                </div>
                <div class="col-4">
                    <div class="d-flex justify-content-end pe-4">
                        <button class="btn btn-primary rounded-pill fs-3">Check</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4 ms-n4">
        <div class="position-relative p-3 border-start h-100">
            <h5 class="fs-5 mb-9 fw-semibold">Quick Links</h5>
            <ul>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/page-pricing.html">Pricing Page</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/authentication-login.html">Authentication Design</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/authentication-register.html">Register Now</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/authentication-error.html">404 Error Page</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/app-notes.html">Notes App</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/page-user-profile.html">User Application</a>
                </li>
                <li class="mb-3">
                    <a class="fs-3" href="@@webRoot/dark/page-account-settings.html">Account Settings</a>
                </li>
            </ul>
        </div>
    </div>
</div>