<div class="d-flex border-bottom align-items-center justify-content-between py-3 px-4">
  <h5 class="mb-0 fs-4 text-dark">You have 4 new messages</h5>
</div>
<div class="message-body" data-simplebar>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-2.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mathew Anderson</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:30 AM</span>
      </div>
      <span class="fs-2 d-block text-truncate text-truncate">Just see the my new admin!</span>
    </div>
  </a>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-3.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Bianca Anderson</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:10 AM</span>
      </div>

      <span class="fs-2 d-block text-truncate text-truncate">Just a reminder that you have event</span>
    </div>
  </a>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-4.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Andrew Johnson</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:08 AM</span>
      </div>
      <span class="fs-2 d-block text-truncate text-truncate">You can customize this template as you want</span>
    </div>
  </a>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-5.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mark Strokes</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:30 AM</span>
      </div>
      <span class="fs-2 d-block text-truncate text-truncate">Just see the my new admin!</span>
    </div>
  </a>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-6.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Mark, Stoinus & Rishvi..</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:10 AM</span>
      </div>
      <span class="fs-2 d-block text-truncate text-truncate">Just a reminder that you have event</span>
    </div>
  </a>
  <a href="javascript:void(0)" class="p-3 pe-0 d-flex align-items-center dropdown-item gap-3 border-bottom">
    <span class="user-img position-relative d-inline-block">
      <img src="@@webRoot/assets/images/profile/user-7.jpg" alt="user" class="rounded-circle w-100 round-40" />
      <span class="profile-status bg-success position-absolute rounded-circle"></span>
    </span>
    <div class="w-75 d-inline-block v-middle">
      <div class="d-flex align-items-center justify-content-between">
        <h6 class="mb-0 lh-base">Settings</h6>
        <span class="fs-2 text-nowrap d-block subtext">9:08 AM</span>
      </div>
      <span class="fs-2 d-block text-truncate text-truncate">You can customize this template as you want</span>
    </div>
  </a>
</div>
<div>
  <a class="d-flex align-items-center pt-3 pb-2 justify-content-center text-dark" href="javascript:void(0);">
    <span class="fw-semibold">See all e-Mails</span>
    <iconify-icon icon="solar:alt-arrow-right-linear"></iconify-icon>
  </a>
</div>