<div class="d-md-flex align-items-center justify-content-between mb-7">
  <div class="mb-4 mb-md-0">
    <h4 class="fs-6 mb-0">@@title</h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
          <a class="text-muted text-decoration-none" href="@@webRoot/rtl/index.html">@@subtitle</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">@@title</li>
      </ol>
    </nav>
  </div>
  <div class="d-flex align-items-center justify-content-between gap-6">
    <select class="form-select border fs-3" aria-label="Default select example">
      <option selected>November 2023</option>
      <option value="1">February 2023</option>
      <option value="2">March 2023</option>
      <option value="3">April 2023</option>
    </select>
    <button class="btn btn-success d-flex align-items-center gap-1 fs-3 py-2 px-9">
      <i class="ti ti-plus fs-4"></i>
      Create
    </button>
  </div>
</div>