//
// using scss variables
//
$border-color-dark: rgba(255, 255, 255, 0.12) !default;
$body-color-dark: #9fa0a5 !default;
$body-bg-dark: #283040 !default;
$link-color-dark: #9fa0a5 !default;
$body-secondary-color-dark: rgba($body-color-dark, 1) !default;

$primary-bg-subtle-dark: #3e3768 !default;
$secondary-bg-subtle-dark: #192133 !default;
$success-bg-subtle-dark: #2a6230 !default;
$info-bg-subtle-dark: #325970 !default;
$warning-bg-subtle-dark: #5e4a20 !default;
$danger-bg-subtle-dark: #683437 !default;
$light-bg-subtle-dark: #465670 !default;
$dark-bg-subtle-dark: #333f55 !default;

$link-hover-color-dark: $primary !default;

$dropdown-dark-link-hover-bg: $primary-bg-subtle-dark !default;

//
// using css variables
//
[data-bs-theme="dark"] {

  #main-wrapper {
    background: #283040;
  }

  .left-sidebar,
  .sidebar-footer {
    background: #242a38 !important;
  }

  .sidebar-nav {
    ul {
      .sidebar-item {
        .sidebar-link {
          &.link-disabled {
            opacity: $link-disabled !important;
          }

          opacity: .6;
          color: $white;

          .aside-icon {
            color: $white;
          }

          &.active,
          &:hover {
            color: var(--bs-white);
            opacity: 1;

            .aside-icon {
              color: var(--bs-primary);
            }
          }
        }
      }

      .nav-small-cap {
        color: var(--bs-white);
      }
    }
  }

  .left-part {
    background: #242a38;
  }

  .jvectormap-container {
    background-color: #242a38 !important;
  }
  path.jvectormap-region.jvectormap-element {
    fill: #323a4a;
  }

  .bg-white {
    background-color: $body-bg-dark !important;
  }

  --bs-heading-color: #e9f7ff !important;

  .tooltip-inner {
    color: $body-color-dark !important;
  }

  .card {
    --bs-card-title-color: #e9f7ff;
    --bs-card-subtitle-color: #767d81;
    --bs-card-bg: #242a38;
  }

  .btn {
    box-shadow: unset;
  }

  .uncover-exciting-enhancements {
    background: #242a38;
  }

  .app-calendar .fc .fc-button-primary {
    background-color: var(--bs-body-bg-dark);
    border-color: var(--bs-body-bg-dark);
  }

  .app-calendar .fc .fc-addEventButton-button {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .app-calendar .fc .fc-daygrid-day.fc-day-today .fc-daygrid-day-frame {
    background-color: $body-bg-dark;
  }

  .nav-tabs .nav-link.active,
  .nav-tabs .nav-item.show .nav-link {
    background-color: #242a38;
  }

  .dropdown-menu {
    --bs-dropdown-bg: #242a38;
    --bs-dropdown-box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
  }

  .user-profile .profile-text .dropdown-toggle.link.u-dropdown,
  .left-sidebar .sidebar-footer a {
    color: var(--bs-white);
  }

  .table {
    --bs-table-border-color: rgba(255, 255, 255, 0.12);
    --bs-table-bg: #242a38;
    --bs-table-color: $body-color-dark;
  }

  .table-hover>tbody>tr:hover>* {
    --bs-table-bg-state: $body-bg-dark;
  }

  .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-bg-type: transparent;
  }

  .jsgrid-grid-header,
  .jsgrid-header-row>.jsgrid-header-cell,
  .jsgrid-header-cell,
  .jsgrid-cell {
    background: $body-bg-dark !important;
  }

  .jsgrid-edit-row>.jsgrid-cell,
  .jsgrid-filter-row>.jsgrid-cell,
  .jsgrid-grid-body,
  .jsgrid-grid-header,
  .jsgrid-header-row>.jsgrid-header-cell,
  .jsgrid-insert-row>.jsgrid-cell {
    border: 1px solid $border-color-dark;
  }

  .accordion-item,
  .accordion-item:focus {
    --bs-accordion-btn-color: #e9f7ff;
    --bs-accordion-border-color: #333f55;
  }

  .accordion-button:not(.collapsed) {
    color: #e9f7ff;
  }

  .nav-tabs .nav-link,
  .nav-pills .nav-link,
  .breadcrumb-item+.breadcrumb-item::before {
    color: $link-color-dark;
  }

  .input-group-text {
    background-color: $light-bg-subtle-dark;
    border: var(--bs-table-border-color);
    color: $body-color-dark;
  }

  .form-check-input {
    border: 1.25px solid $light-bg-subtle-dark;
  }

  .bootstrap-switch .bootstrap-switch-label,
  .app-chat-offcanvas {
    background: $body-bg-dark;
  }

  label,
  .text-dark,
  .form-label,
  .col-form-label {
    color: #e9f7ff !important;
  }

  .text-bg-light,
  .bg-light,
  .striped-rows .row:nth-child(odd),
  .bg-hover-light-black:hover {
    background-color: #222734 !important;
    color: var(--bs-card-title-color) !important;
  }

  .dropdown-item:hover,
  .dropdown-item:focus,
  .message-box .message-widget a:hover {
    background-color: #222734;
    color: #868e96 !important;
  }

  .form-select,
  .form-select:focus,
  .form-control,
  .form-control:focus {
    border-color: $border-color-dark;
    color: $body-color-dark;
    background-color: #242a38;
  }

  .form-select:focus,
  .form-control:focus {
    border-color: $primary;
  }

  .connect-sorting-todo,
  .connect-sorting {
    background: var(--bs-dark-bg-subtle);
  }

  .wizard-content .wizard>.actions>ul>li>a {
    &:hover {
      color: var(--bs-white) !important;
    }
  }

  .wizard-content .wizard>.actions>ul>li>a[href="#previous"] {
    background-color: transparent;
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary);

    &:hover {
      color: var(--bs-white) !important;
    }
  }

  .wizard-content .wizard>.steps>ul>li.current .step {
    background-color: var(--bs-primary);
    color: var(--bs-white);
  }

  .wizard-content .wizard.wizard-circle>.steps .step {
    border: 3px solid $border-color-dark;
  }

  .wizard-content .wizard>.steps .step {
    background-color: $body-bg-dark;
  }

  .datepaginator-sm .pagination li a,
  .datepaginator-lg .pagination li a,
  .dp-divider,
  .datepaginator .pagination li a,
  .ql-toolbar.ql-snow,
  .ql-container.ql-snow,
  .note-editor .note-editing-area .note-editable table td,
  .note-editor .note-editing-area .note-editable table th,
  .wizard>.content>.body input,
  .table-responsive .dataTables_wrapper .dataTables_paginate .paginate_button,
  #editable-datatable_wrapper .dataTables_paginate .paginate_button,
  .jsgrid-cell {
    border: 1px solid $border-color-dark !important;
  }

  .dp-off,
  .tox:not(.tox-tinymce-inline) .tox-editor-header,
  .tox .tox-edit-area__iframe {
    background-color: $body-bg-dark !important;
  }

  .dropzone {
    background: $body-bg-dark;
    border: 2px solid $border-color-dark;
  }

  .note-toolbar,
  .note-btn {
    color: var(--bs-white);
    border: 1px solid $border-color-dark !important;
    background-color: $body-bg-dark !important;
  }

  .floating-labels .form-control {
    border-bottom: 1px solid $border-color-dark;
  }

  .table-responsive .dataTables_wrapper .dataTables_length select,
  .table-responsive .dataTables_wrapper .dataTables_filter input,
  .custom-select,
  #editable-datatable_wrapper .dataTables_length select,
  #editable-datatable_wrapper .dataTables_filter input {
    border-color: $body-color-dark;
    background-color: $body-bg-dark;
  }

  .jsgrid-pager-page a,
  .jsgrid-pager-current-page,
  .jsgrid-pager-nav-button a {
    border: 1px solid $border-color-dark;
  }

  .jsgrid-pager-page a:hover,
  .jsgrid-pager-nav-button a:hover {
    color: var(--bs-white) !important;
  }

  .tablesaw-swipe .tablesaw-swipe-cellpersist {
    border-right: 2px solid $body-color-dark;
  }

  .footable .pagination li a {
    background-color: $body-bg-dark;
  }

  .footable .pagination li.disabled a {
    background-color: $body-bg-dark;
    border-color: $body-color-dark;
  }


  a:hover {

    h6,
    .h6,
    h5,
    .h5,
    h4,
    .h4,
    h3,
    .h3,
    h2,
    .h2,
    h1,
    .h1 {
      color: var(--bs-primary);
    }
  }

  hr,
  .dropdown-divider {
    border-top: var(--bs-border-width) solid $border-color-dark;
  }

}